#root {
  width: 100%;
  max-width: 1280px;
}

.app-header {
  display: flex;
  top: 0;
  width: 100%;
  text-align: justify;
  background-color: #63b3fa; /* Light blue background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.app-header .app-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fefdfe;
  margin: 0;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  overflow: hidden;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.instructions-container h2 {
  color: #042680;
}
